#root {
  text-align: center;

  --notSoWhite: #FFFFFC;
  --hakujiWhite: #F8FBF8;
  --milkyWhite: #F3F3F3;

  --alabaster: #EDEADE;
  --boneWhite: #F9F6EE;

  background-color: var(--hakujiWhite);
  color: black;

  --charcoalGray          : #121212;
  --notSoBlack            : #161618;
  --notSoGray             : #2A2A2A;
  --jett                  : #343434;
}

@media ( prefers-color-scheme: dark ) {
  :root{ 
    background-color : var(--notSoBlack);
    color: var(--notSoWhite);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ul {
  width: 40%;
  margin: auto;
  text-align: justify;
  font-size: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 769px) {
  ul {
    width: 90%;
    margin: auto;
  }
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}


.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table-container th {
  text-align: center;
  background-color: var(--alabaster);
}

@media ( prefers-color-scheme: dark ) {
  .main-container{ 
    background-color : var(--notSoBlack);
    color: var(--notSoWhite);
  }

  .table-container th {
    background-color: var(--notSoGray);
  }
}

.table-container {
  width: 70%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media (max-width: 769px) {
  .table-container {
    width: 90%;
    margin: auto;
  }
}
/* Tablas */
.table-container {
  -webkit-box-shadow: 18px 11px 75px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 18px 11px 75px 1px rgba(0,0,0,0.75);
  box-shadow: 18px 11px 75px 1px rgba(0,0,0,0.75);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 2rem;
}

.table-container table {
  width: auto;
  margin: auto;
}

.table-container th,
.table-container td {
  padding: 0.4rem;
  text-align: left;
  width: 10rem;
}


.table-container th {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
}

.table-container tr{
  transition: all ease-in-out 200ms;
}

.table-container tr:nth-child(even) {
  background-color: var(--boneWhite);
}

@media ( prefers-color-scheme: dark ) {
  .table-container tr:nth-child(even) {
    background-color: var(--jett);
  }
}

.table-container tr:hover {
  background-color: var(--alabaster);
  font-weight: 700;
}

@media ( prefers-color-scheme: dark ) {
  .table-container tr:hover {
    background-color: var(--notSoGray);
  }
}

/* Formularios */
.formulario label {
  font-size: 1em;
  font-weight: 500;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: right;
  width: 100%;
  padding: 1rem;
}

.form-container {
  -webkit-box-shadow: 18px 11px 75px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 18px 11px 75px 1px rgba(0,0,0,0.75);
  box-shadow: 18px 11px 75px 1px rgba(0,0,0,0.75);
  border-radius: 2rem;
  width: 70%;
  margin: auto;
  margin-top: 4rem;
  padding-top: 1rem;
}

@media (max-width: 769px) {
  .form-container {
    width: 90%;
    margin: auto;
  }
}
.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 2rem;
  grid-gap: 1rem;
}

.formulario input,
.formulario select,
.formulario textarea {
  border: 0.5px solid;
  border-radius: 0.5rem;
  background-color: var(--alabaster);
  font-family: inherit;
  font-size: 1em;
  grid-column-start: 3;
  grid-column-end: 6;
  padding-left: 1rem;
}

@media ( prefers-color-scheme: dark ) {
  .formulario input,
  .formulario select,
  .formulario textarea {
    background-color: var(--notSoGray);
  }
}
.formulario input:focus,
.formulario select:focus,
.formulario textarea:focus {
  outline: none;
  border-color: #646cff;
  box-shadow: 0 0 4px #646cff;
}

.formulario button {
  grid-column-start: 3;
  grid-column-end: 5;
  padding: 10px;
  font-size: 1em;
  background-color: rebeccapurple;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 2rem;
}

.formulario button:hover {
  background-color: #535bf2;
}

.formulario button:focus {
  outline: none;
  box-shadow: 0 0 4px #535bf2;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 769px) {
  .formulario {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  .formulario label {
    text-align: right;
  }

  .formulario button {
    grid-column: 0;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .table-container {
    width: 90%;
    margin: auto;
  }
}